<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='icons/main.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{{ tab_title }}</title>
  </head>
  <body>

    <div id="header">
      <h1>This is the testpage of: {{ proj_name }}</h1>
    </div>

    <div>
      <p>
        This is a testpage that shows that the service is up and running correctly.<br>
        <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Noaa-walrus22.jpg/1024px-Noaa-walrus22.jpg" target="_blank">Here is a picture of a walrus.</a>
      </p>
      <p>Here is the <a href="/">homepage</a></p>
    </div>


    

    
    


  </body>
</html>